{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>KerasMatic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="{% static 'js/jquery-1.4.2.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/jquery-func.js' %}"
    ></script>
    <!--[if IE 6
      ]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all"
    /><![endif]-->
  </head>
  <body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
      <div id="header">
        <h1 style="text-align: center; size: 96px; font-size: 108px; color: white;">KerasMatic</h1>
        <div id="sub-navigation">
          <ul>
            <li><a href="#">Machine Learning based Movie Recommendation System<br></a></li>
          </ul>
          <div id="search">
          </div>
          <div id="search">
            <form style="font-size: 16px; color: white; font-weight: bold;" action="#" method="get" accept-charset="utf-8">
              <input type="radio" name="type" value="collaborative">Collaborative
<input type="radio" name="type" value="content">Content
<input type="radio" name="type" value="hybrid">Hybrid
              <input
                type="text"
                name="search"
                id="search-field"
                class="blink search-field"
              />
              <input type="submit" value="SEARCH" class="search-button" />
            </form>
          </div>
        </div>
      </div>
      <div id="main">
        <div id="content">
          <div class="box">
            <div class="head">
              <h2 style="color: transparent;">Recommendations for you</h2>
            </div>
            {% for movie in movie_recommendations_1 %}
            <div class="movie">
              <div class="movie-image">
                <span class="play"><span class="name">{{ movie.title }}</span></span>
                <a href="#"><img src="{{ movie.url }}" alt=""/></a>
              </div>
              <div class="rating">
                <p>RATING</p>
                <div class="stars">
                  <div class="stars-in"></div>
                </div>
                <span class="comments">12</span>
              </div>
            </div>
            {% endfor %}
            <div class="cl">&nbsp;</div>
          </div>
      <div id="footer">
        <p class="lf">
          Copyright &copy; 2020 <a href="#">KerasMatic</a> - All Rights Reserved
        </p>
        <div style="clear:both;"></div>
      </div>
    </div>
  </body>
</html>
